/* From Uiverse.io by Ali-Tahmazi99 */ 
/* From uiverse.io by @Ali-Tahmazi99 */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .button::before,
   .button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .button::before {
    left: -10px;
    background: #7c7c7c;
   }
   
   .button::after {
    right: -10px;
    background: #ffffff;
   }
   
   .button:hover::before,
   .button:hover::after {
    width: 58%;
   }
   
   .button:hover span {
    color: #000000;
    transition: 0.3s;
   }
   
   .button span {
    color: #ffffff;
    font-size: 1rem;
    transition: all 0.3s ease-in;
    font-weight: 500;
   }